@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
$text: #464646;
$blue: #1bb5c8;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
    background: #fbfbff;
    position: relative;
    padding-bottom: 150px;
}
html {
    font-size: 14px;
}
a {
    text-decoration: none;
    transition: 0.5s ease;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: 100%;
}
button {
    cursor: pointer;
}
button:hover {
    color: inherit;
}
ul {
    list-style: none;
}
p,
span,
ul li {
    transition: 0.5s ease-in-out;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: 0.5s ease-in-out;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: $blue;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: $blue;
}
.custom-btn {
    background: #1bb5c8 0% 0% no-repeat padding-box;
    border-radius: 37px;
    border: none;
    color: #ffffff;
    padding: 8px 50px;
    border: 1px solid #1bb5c8;
}
.custom-btn:hover {
    background: #ffffff;
    color: #1bb5c8;
    path {
        fill: #1bb5c8;
    }
}
.border {
    border: 1px solid red !important;
}
button:focus {
    border: none !important;
}
.btn-shadow {
    box-shadow: 2px 4px 6px #00000052;
}
.display {
    display: block !important;
}
.input-error {
    border: 1px solid #d50000 !important;
}
.section--title {
    margin-bottom: 30px;
    width: 50%;
    span {
        color: #1bb5c8;
        font-size: 14px;
        font-weight: 600;
    }
    h1 {
        margin-top: 10px;
        color: #484848;
        font-size: 28px;
        font-weight: 600;
    }
}
@media (max-width: 992px) {
    .section--title {
        width: 100%;
    }
}
@media(min-width: 1920px) {
    section, footer{
        max-width: 1920px;
        margin: 0 auto;
        overflow: hidden;
    }
}

// TOP NAV BAR
.top-nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #ffffff;
    .navbar {
        height: 65px;
        padding-top: 10px;
        .navbar-brand {
            height: 65px;
            display: flex;
            align-items: center;
            .svg-wrap {
                height: 55px;
            }
            svg {
                height: 100%;
                width: auto;
            }
        }
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .nav-link {
            color: $text;
            font-size: 14px;
            padding: 5px 20px;
            font-weight: 300;
        }
        .contact {
            margin-left: 80px;
        }
        .order {
            background: $blue;
            color: #ffffff;
            border-radius: 37px;
            padding: 5px 50px;
            border: 1px solid $blue;
        }
        .active {
            color: $blue;
            font-weight: 400;
        }
        .order.active {
            border: 1px solid $blue;
            color: $blue;
            background: #ffffff;
        }
    }
}
@media (max-width: 992px) {
    .top-nav {
        .navbar {
            height: auto;
            .navbar-brand {
                height: auto;
            }
        }
        button {
            outline: none;
        }
        .navbar-nav {
            text-align: center;
        }
        .navbar-collapse {
            .nav-link {
                margin-bottom: 10px;
            }
            .contact {
                margin-left: 0;
            }
            .order {
                display: inline-block;
            }
        }
    }
}

// HERO SECTION
.hero {
    min-height: calc(100vh - 65px);
    position: relative;
    // display: flex;
    // align-items: center;
    &__content {
        margin-top: 100px;
    }
    h1 {
        color: #484848;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p {
        color: #484848;
        font-size: 16px;
        margin-bottom: 30px;
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        border-radius: 40px 0px 0px 40px;
        overflow: hidden;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media (max-width: 992px) {
    .hero {
        p {
            color: $blue;
        }
    }
}
@media (max-width: 600px) {
    .hero {
        h1 {
            font-size: 40px;
        }
    }
}

// EXAMPLE SECTION
.example {
    margin-top: 70px;
    &__card-wrapper {
        padding: 10px 60px;
        text-align: center;
    }
    &__card {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: -5px 6px 20px #00000029;
        border-radius: 20px;
        padding: 10px 10px 20px 10px;
        margin-bottom: 30px;
        &-img {
            height: 300px;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h5 {
            color: #484848;
            text-align: center;
            margin-top: 10px;
            font-size: 15px;
        }
    }
}
@media (max-width: 992px) {
    .example {
        &__card-wrapper {
            padding: 10px 20px;
        }
    }
}
@media (max-width: 768px) {
    .example {
        &__card-wrapper {
            margin-bottom: 30px;
        }
    }
}

// ABOUT US
.about-us {
    margin-top: 70px;
    width: 100%;
    overflow-x: hidden;
    height: auto;
    &__img {
        height: 400px;
        width: 100%;
        border-radius: 0px 40px 40px 0px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        width: 80%;
        padding-left: 40px;
        padding-bottom: 20px;
        p {
            color: #464646;
            margin-bottom: 20px;
            line-height: 25px;
            font-size: 16px;
            font-weight: 400;
        }
        button {
            margin-top: 20px;
        }
    }
}
@media (max-width: 992px) {
    .about-us {
        &__content {
            padding-left: 20px;
            margin: 0 auto;
            padding-top: 40px;
            button {
                margin-top: 10px;
            }
        }
    }
}
@media (max-width: 768px) {
    .about-us {
        margin-top: 30px;
    }
}
@media (max-width: 600px) {
    .about-us {
        &__img {
            height: 300px;
        }
    }
}

// WORK SECTION
.work {
    margin-top: 80px;
    margin-bottom: 70px;
    .section--title {
        p {
            color: #464646;
            margin: 10px 0;
        }
    }
    &__card-wrapper {
        margin-top: 40px;
    }
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
    .row > [class*="col-"] {
        display: flex;
        flex-direction: column;
    }
    &__card {
        border: 1px solid #1bb5c8;
        border-radius: 46px;
        text-align: center;
        padding: 20px 30px;
        width: 85%;
        margin: 0 auto;
        height: 100%;
        .svg-wrap {
            height: 100px;
            width: 100px;
            margin: 0 auto;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        h3 {
            color: #464646;
            font-size: 20px;
            font-weight: 400;
            margin: 10px 0;
        }
        P {
            color: #464646;
            font-size: 13px;
            margin: 20px 0;
        }
    }
}
@media (max-width: 992px) {
    .work {
        &__card {
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .work {
        &__card {
            margin-bottom: 40px;
        }
    }
}

// CONTACT PAGE
.contact-us,
.full-height {
    min-height: calc(100vh - 65px);
}
.order {
    padding-top: 40px;
    .note {
        padding-left: 20px;
        span {
            color: $blue;
            font-size: 14px;
        }
    }
    &__left {
        width: 70%;
        h1 {
            color: #484848;
            margin-bottom: 30px;
            font-size: 35px;
        }
        form {
            input,
            textarea {
                border: none;
                border: 1px solid rgba(27, 181, 200, 0.5);
                padding: 20px 10px;
                color: #464646;
            }
            .form-group {
                margin-bottom: 20px;
            }
            button {
                margin-top: 10px;
            }
        }
    }
    &__right {
        margin-top: 100px;
        padding-left: 30px;
        border-left: 0.5px solid #464646;
        h2 {
            color: #464646;
            font-size: 22px;
            margin-bottom: 25px;
        }
        p {
            color: #464646;
            margin: 15px 0;
            opacity: 0.8;
        }
        button {
            margin-top: 20px;
            padding: 8px 30px;
        }
    }
    .extra-floor {
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            color: #484848;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #ffffff;
            border: 1px solid #1bb5c8;
            border-radius: 50%;
        }
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }
        .container input:checked ~ .checkmark {
            background-color: #1bb5c8;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .container input:checked ~ .checkmark:after {
            display: block;
        }
        .container .checkmark:after {
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
@media (max-width: 992px) {
    .order {
        &__left {
            width: 100%;
            margin-bottom: 50px;
        }
        &__right {
            margin-top: 30px;
        }
    }
}
@media (max-width: 500px) {
    .order {
        &__left {
            .custom-btn {
                padding: 10px 20px;
            }
            .submit-btn {
                padding: 10px 50px;
            }
        }
    }
}
// FOOTER
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1bb5c8 0% 0% no-repeat padding-box;
    border-radius: 40px 40px 0px 0px;
    padding: 20px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            color: #ffffff;
        }
        .footer__logo {
            height: 50px;
            svg {
                height: 50px;
            }
        }
        .footer__social-media {
            a {
                margin-left: 10px;
                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
@media (max-width: 520px) {
    body{
        padding-bottom: 240px;
    }
    footer {
        padding-bottom: 0;
        .container {
            flex-direction: column-reverse;
            div {
                margin-bottom: 20px;
            }
            .footer__logo {
                height: 80px;
                svg {
                    height: 80px;
                    padding: 4px;
                }
            }
        }
    }
}

// ORDER PAGE
.order {
    .form__wrapper {
        z-index: 12;
        margin-bottom: 40px;
        h6 {
            color: #464646;
            margin: 15px 0;
            font-size: 13px;
        }
        #progressbar {
            margin-bottom: 10px;
            overflow: hidden;
            color: #dedfe1;
            margin-top: 20px;
        }
        #progressbar li {
            list-style-type: none;
            font-size: 13px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400;
        }
        #progressbar li .svg {
            position: absolute;
            top: 6px;
            left: 50%;
            transform: translateX(-50%);
        }
        #progressbar li svg {
            height: 20px;
            width: 20px;
            opacity: 0.8;
        }
        #progressbar #step1:before {
            content: "";
            color: #fff;
        }
        #progressbar #step2:before {
            content: "";
            color: #fff;
        }
        #progressbar #step3:before {
            content: "";
            color: #fff;
        }
        #progressbar #step4:before {
            content: "";
            color: #fff;
        }
        #progressbar li:before {
            width: 35px;
            height: 35px;
            display: block;
            font-size: 20px;
            background: #dedfe1;
            border-radius: 50%;
            margin: auto;
            padding: 0px;
            margin-bottom: 10px;
        }
        #progressbar li:after {
            content: "";
            width: 100%;
            height: 4px;
            background: #dedfe1;
            position: absolute;
            left: 0;
            top: 17px;
            z-index: -1;
        }
        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%;
        }
        #progressbar li:nth-child(2):after {
            left: -50%;
        }
        #progressbar li:nth-child(3):after {
            left: -50%;
        }
        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            left: 50%;
        }
        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        #progressbar li.active:before,
        #progressbar li.active:after {
            background: $blue;
        }
        #progressbar li.active {
            color: $blue;
        }
        .card {
            padding: 20px;
            z-index: 0;
            display: none;
            border: none;
        }
        .card.show {
            display: block;
        }
        .input-field {
            margin-bottom: 20px;
        }
        .btn-control {
            background: #08939a;
            color: #ffffff;
            padding: 8px 40px;
        }
        .btn-prev {
            color: #08939a;
            box-shadow: 0px 3px 6px #00000014;
            border: 1px solid #08939a;
            border-radius: 4px;
            padding: 8px 40px;
            position: absolute;
        }
        label {
            color: #1a1a1a;
        }
        input,
        textarea {
            border: 1px solid;
            border-radius: 4px;
            border: 1px solid rgba(27, 181, 200, 0.5);
        }
        textarea {
            padding: 10px;
        }
        :focus {
            border: 1px solid $blue;
            outline: none;
            box-shadow: none;
        }
        .check-mark {
            width: 180px;
            height: 180px;
        }
        .radio-field {
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid $blue;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: "";
                width: 12px;
                height: 12px;
                background: $blue;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        .date-field {
            input {
                height: 40px;
                width: 100%;
            }
        }
        .time-field {
            select {
                font-size: 16px;
                border: 1px solid rgba(27, 181, 200, 0.5);
            }
        }
        .type-field {
            input[type="radio"] {
                display: none;
            }
            label {
                text-align: center;
                width: 100%;
                padding: 15px 10px;
                display: block;
                position: relative;
                margin: 0px;
                cursor: pointer;
                border: 1px solid #1bb5c8;
                border-radius: 10px;
                height: 130px;
                transition: 0.5s ease;
                .svg-wrap {
                    margin: 0 auto;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                }
                span {
                    color: #4a4a4a;
                    font-size: 12px;
                    transition: 0.5s ease;
                }
            }
            label:before {
                color: white;
                content: " ";
                display: block;
                background: $blue;
                position: absolute;
                top: -5px;
                left: -5px;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 28px;
                transition-duration: 0.4s;
                transform: scale(0);
                display: none;
            }
            :checked + label {
                background-color: $blue;
                border-color: $blue;
            }
            :checked + label span {
                color: #ffffff;
            }
            :checked + label .svg-wrap path {
                fill: #ffffff !important;
                stroke: #ffffff !important;
            }
        }
        .form-footer {
            p {
                font-size: 12px;
            }
        }
        .form-btn {
            svg {
                padding: 2px;
                margin-left: 5px;
            }
        }
        .prev {
            svg {
                padding: 2px;
                margin-right: 5px;
            }
        }
        .form-last-btn {
            float: right;
        }
        .next-btn {
            margin-top: 10px;
            float: right;
        }
        .time-field {
            .boxes {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
            }
            input[type="radio"] {
                display: none;
            }
            label {
                text-align: center;
                width: 100%;
                border: 1px solid #1bb5c8;
                border-radius: 10px;
                padding: 10px;
                display: block;
                position: relative;
                margin: 0px;
                cursor: pointer;
                margin-bottom: 10px;
                p {
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                }
            }

            :checked + label {
                background-color: $blue;
                color: #ffffff;
            }
        }
    }
    .radio-wrap {
        .label-container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .label-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 50%;
        }
        .label-container:hover input ~ .checkmark {
            background-color: #ccc;
        }
        .label-container input:checked ~ .checkmark {
            background-color: #08939a;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .label-container input:checked ~ .checkmark:after {
            display: block;
        }
        .label-container .checkmark:after {
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    }
}
#lockboxInput {
    display: none;
}
@media (max-width: 768px) {
    .order {
        .form__wrapper {
            .date-field {
                margin-bottom: 20px;
            }
            .type-field {
                label {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .order {
        .form__wrapper {
            .form-last-btn {
                float: none;
                margin-top: 10px;
            }
        }
    }
}

// SHOW CASE
.show-case {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: all-scroll;
    &__back {
        position: absolute;
        top: 20px;
        left: 20px;
        a {
            display: flex;
            align-items: center;
            color: $blue;
            cursor: pointer !important;
            svg {
                padding: 3px;
            }
            path {
                fill: $blue;
            }
        }
    }
    span {
        display: none;
    }
    &__welcome {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 9;
        .svg-wrap {
            height: 150px;
            width: auto;
            margin-bottom: 10px;
            svg {
                height: 100%;
                width: 100%;
            }
        }
        h1 {
            font-weight: 300;
            padding: 20px 0;
            color: #ffffff;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
        }
        button {
            margin-top: 30px;
            background: none;
            border: none;
            .svg-wrap {
                height: 80px;
            }
            P {
                color: #ffffff;
                font-size: 20px;
            }
        }
    }
    .displaynone {
        display: none !important;
    }
    &__rooms {
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;
        .rooms__wrapper {
            text-align: center;
        }
        .rooms__wrapper {
            .room {
                height: 100px;
                img {
                    height: 100px;
                    // width: 200px;
                    object-fit: cover;
                }
            }
        }
    }
}

.complete-payment{
    margin-top: 30px;
    h1{
        color: #484848;
        width: 60%;
        font-size: 30px;
        margin-bottom: 10px;
    }
    p{
        color: #484848;
        margin-bottom: 40px;
    }
    &__card{
        border: 1px solid #1BB5C8;
        border-radius: 46px;
        padding: 20px;
        h3{
            font-weight: 400;
            font-size: 22px;
            color: #484848;
            margin-bottom: 15px;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}
@media(max-width: 767px){
    .complete-payment{
        h1{
            width: 100%;
            font-size: 25px;
        }
        .col-sm-12{
            margin-bottom: 25px;
        }
    }
}

.payment{
    padding-top: 20px;;
    h1{
        color: #484848;
        font-size: 30px;
        margin-bottom: 10px;
    }
    p{
        color: #484848;
        margin-bottom: 40px;
    }
    .form-wrapper{
        display: flex;
        justify-content: center;
    }
    form{
        width: 400px;
    }
}
@media(max-width: 450px){
    .payment{
        form{
            width: 95%;
        }
    }
}